//
   Created by z on 2015/12/25.

extends layout

block content
  #wrapper
    form(action='/signin', method='post')
      label(for='username') 用户名
      input#username(name='username', value=user.username)

      label(for='password') 密码
      input#password(name='password', type='password')

      input#reset.button(value='重置', type='reset')
      input#submit.button(value='提交', type='submit')
      a(href='/regist')
        input.bottomBtn(type='button', value='注册')
  if error
    #remind
      p #{error}