<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>register</title>
    <link href="form.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="wrapper">
    <p>注册</p>
    <form action="/register" method="post">
        <label for="username">用户名</label>
        <input name="username" type="text" id="username">
        <label for="studentId">学号</label>
        <input name="studentId" type="text" id="studentId">
        <label for="phone">电话</label>
        <input name="phone" type="text" id="phone">
        <label for="mail">邮箱</label>
        <input name="mail" type="text" id="mail">
        <input type="reset" value="重置" id="reset">
        <input type="submit" value="提交" id="submit">
    </form>
</div>
</body>
</html>