//
   Created by z on 2015/12/3.

doctype html
html
    head
        meta(charset='utf-8')
        title 用户详情
        link(href='/static/css/details.css', type='text/css', rel='stylesheet')
    body
        #wrapper
            p 详情
            #details
                p 用户名：#{username}
                p 学号：#{studentId}
                p 电话：#{phone}
                p 邮箱：#{mail}