//
   Created by z on 2016/1/27.

#wrapper
  form(name="form", ng-submit="submit()", novalidate)
    label(for='username') 用户名
    input#username(name='username', ng-model='user.username', required)

    label(for='password') 密码
    input#password(name='password', ng-model='user.password', type='password', required)

    input#reset.button(value='重置', type='reset')
    input#submit.button(value='提交', type='submit')
    a(href='/signUp')
      input.bottomBtn(type='button', value='注册')
#error
  p(ng-show="!usernameExist") 用户名不存在
  p(ng-show="passwordError") 密码错误