/**
 * @Author: zhuangqh
 * @Email: zhuangqhc@gmail.com
 * @Create on: 2015-11-18 16:24:42
 */

body, html {
	margin: 0;
    font-family: "Century Gothic", STXihei, "Microsoft YaHei", sans-serif;
}

#game-container {
    position: relative;
	width: 408px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

/* change the size when playing */
.playing-container {
    width: 960px !important;
}

#game-status {
	width: 400px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

#game-status input {
	width: 70px;
	text-align: center;
}

#puzzle {
	position: relative;
	width: 408px;
	height: 408px;
}

#puzzle .panels {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 1px solid #C3C3C3;
	background-image: url(tu.jpg);
	background-size: 400px 400px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#puzzle .panels:hover {
	z-index: 1;
    -webkit-box-shadow: 0 0 15px #333333;
    -moz-box-shadow: 0 0 15px #333333;
    box-shadow: 0 0 15px #333333;

	-webkit-transform: scale(1.02, 1.02);
	-moz-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	-o-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);
}

/*    background postion of each panel   */
#puzzle div:nth-of-type(2) {
	background-position: -100px 0;
}

#puzzle div:nth-of-type(3) {
	background-position: -200px 0;
}

#puzzle div:nth-of-type(4) {
	background-position: -300px 0;
}

#puzzle div:nth-of-type(5) {
	background-position: 0 -100px;
}

#puzzle div:nth-of-type(6) {
	background-position: -100px -100px;
}

#puzzle div:nth-of-type(7) {
	background-position: -200px -100px;
}

#puzzle div:nth-of-type(8) {
	background-position: -300px -100px;
}

#puzzle div:nth-of-type(9) {
	background-position: 0 -200px;
}

#puzzle div:nth-of-type(10) {
	background-position: -100px -200px;
}

#puzzle div:nth-of-type(11) {
	background-position: -200px -200px;
}

#puzzle div:nth-of-type(12) {
	background-position: -300px -200px;
}

#puzzle div:nth-of-type(13) {
	background-position: 0 -300px;
}

#puzzle div:nth-of-type(14) {
	background-position: -100px -300px;
}

#puzzle div:nth-of-type(15) {
	background-position: -200px -300px
}

/*    position of each panel   */
#panel0 {
	top: 0;
	left: 0;
}

#panel1 {
	top: 0;
	left: 102px;
}

#panel2 {
	top: 0;
	left: 204px;
}

#panel3 {
	top: 0;
	left: 306px;
}

#panel4 {
	top: 102px;
	left: 0;
}

#panel5 {
	top: 102px;
	left: 102px;
}

#panel6 {
	top: 102px;
	left: 204px;
}

#panel7 {
	top: 102px;
	left: 306px;
}

#panel8 {
	top: 204px;
	left: 0;
}

#panel9 {
	top: 204px;
	left: 102px;
}

#panel10 {
	top: 204px;
	left: 204px;
}

#panel11 {
	top: 204px;
	left: 306px;
}

#panel12 {
	top: 306px;
	left: 0;
}

#panel13 {
	top: 306px;
	left: 102px;
}

#panel14 {
	top: 306px;
	left: 204px;
}

#panel15 {
	top: 306px;
	left: 306px;
}

#controller {
	margin-top: 20px;
}

#origin {
    position: absolute;
    right: 0;
    width: 408px;
    height: 408px;
    top: 65px;
    z-index: 1;
}

#origin img {
    width: 406px;
    height: 406px;
    border: 1px solid #C3C3C3;
}

/*    restart button    */
#restart {
	width: 120px;
	height: 40px;
	font-size: 15pt;
	background-color: #3F87F5;
	color: #FFF;
	-webkit-box-shadow: 2px 2px 5px #333333;
	-moz-box-shadow: 2px 2px 5px #333333;
	box-shadow: 2px 2px 5px #333333;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

#restart:hover {
	cursor: pointer;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}