/* common stylesheet */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', sans-serif;
}

#header {
    position: fixed;
    top: 0;
    background-color: #212121;
    color: white;
    height: 50px;
    line-height: 50px;
    width: 100%;
    -webkit-box-shadow: 0 2px 2px 10px #757575;
    -moz-box-shadow: 0 2px 2px 10px #757575;
    box-shadow: 0 2px 20px 1px #757575;
}

#header h2 {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -50px;
    display: block;
    width: 100px;
}

#header ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 300px;
    float: left;
    list-style: none;
}

#header ul li {
    margin-left: 10px;
    float: left;
}

#header ul li a {
    color: #1DE9B6;
}

#content {
    width: 500px;
    margin: 80px auto 0 auto;
}

/* stylesheet of post */

.post {
    margin-top: 15px;
    border: solid 1px #757575;
    border-radius: 5px;
}

.post-outline {
    padding: 0 20px 0 20px;
    border-bottom: solid 1px #757575;
}

.post-control {
    height: 40px;
}

.post-control ul {
    list-style: none;
    height: 40px;
    margin: 0;
    padding: 0;
    line-height: 40px;
}

.post-control ul li {
    margin-left: 50px;
    float: left;
}

.post-control ul li:first-child {
    margin-left: 20px;
}